In [10]:
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.getOrCreate()

# DataFrames

In [12]:
df_principals = spark.read.csv('data/principals.tsv', sep=r'\t', header=True)
df_principals.show()

+---------+--------+---------+---------------+--------------------+--------------+
|   tconst|ordering|   nconst|       category|                 job|    characters|
+---------+--------+---------+---------------+--------------------+--------------+
|tt0000001|       1|nm1588970|           self|                  \N|      ["Self"]|
|tt0000001|       2|nm0005690|       director|                  \N|            \N|
|tt0000001|       3|nm0374658|cinematographer|director of photo...|            \N|
|tt0000002|       1|nm0721526|       director|                  \N|            \N|
|tt0000002|       2|nm1335271|       composer|                  \N|            \N|
|tt0000003|       1|nm0721526|       director|                  \N|            \N|
|tt0000003|       2|nm1770680|       producer|            producer|            \N|
|tt0000003|       3|nm1335271|       composer|                  \N|            \N|
|tt0000003|       4|nm5442200|         editor|                  \N|            \N|
|tt0000004|       1|nm0721526|       director|                  \N|            \N|
|tt0000004|       2|nm1335271|       composer|                  \N|            \N|
|tt0000005|       1|nm0443482|          actor|                  \N|["Blacksmith"]|
|tt0000005|       2|nm0653042|          actor|                  \N| ["Assistant"]|
|tt0000005|       3|nm0005690|       director|                  \N|            \N|
|tt0000005|       4|nm0249379|       producer|            producer|            \N|
|tt0000006|       1|nm0005690|       director|                  \N|            \N|
|tt0000007|       1|nm0179163|          actor|                  \N|            \N|
|tt0000007|       2|nm0183947|          actor|                  \N|            \N|
|tt0000007|       3|nm0005690|       director|                  \N|            \N|
|tt0000007|       4|nm0374658|       director|                  \N|            \N|
+---------+--------+---------+---------------+--------------------+--------------+
only showing top 20 rows

In [13]:
df_basics = spark.read.csv('data/basics.tsv', sep=r'\t', header=True)
df_basics.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            45|             Romance|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|               Short|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [14]:
df_crew = spark.read.csv('data/crew.tsv', sep=r'\t', header=True)
df_crew.show()

+---------+-------------------+---------+
|   tconst|          directors|  writers|
+---------+-------------------+---------+
|tt0000001|          nm0005690|       \N|
|tt0000002|          nm0721526|       \N|
|tt0000003|          nm0721526|       \N|
|tt0000004|          nm0721526|       \N|
|tt0000005|          nm0005690|       \N|
|tt0000006|          nm0005690|       \N|
|tt0000007|nm0005690,nm0374658|       \N|
|tt0000008|          nm0005690|       \N|
|tt0000009|          nm0085156|nm0085156|
|tt0000010|          nm0525910|       \N|
|tt0000011|          nm0804434|       \N|
|tt0000012|nm0525910,nm0525908|       \N|
|tt0000013|          nm0525910|       \N|
|tt0000014|          nm0525910|       \N|
|tt0000015|          nm0721526|       \N|
|tt0000016|          nm0525910|       \N|
|tt0000017|nm1587194,nm0804434|       \N|
|tt0000018|          nm0804434|       \N|
|tt0000019|          nm0932055|       \N|
|tt0000020|          nm0010291|       \N|
+---------+-------------------+---------+
only showing top 20 rows

In [15]:
df_episodes = spark.read.csv('data/episodes.tsv', sep=r'\t', header=True)
df_episodes.show()

+---------+------------+------------+-------------+
|   tconst|parentTconst|seasonNumber|episodeNumber|
+---------+------------+------------+-------------+
|tt0041951|   tt0041038|           1|            9|
|tt0042816|   tt0989125|           1|           17|
|tt0042889|   tt0989125|          \N|           \N|
|tt0043426|   tt0040051|           3|           42|
|tt0043631|   tt0989125|           2|           16|
|tt0043693|   tt0989125|           2|            8|
|tt0043710|   tt0989125|           3|            3|
|tt0044093|   tt0959862|           1|            6|
|tt0044668|   tt0044243|           2|           16|
|tt0044901|   tt0989125|           3|           46|
|tt0045519|   tt0989125|           4|           11|
|tt0045960|   tt0044284|           2|            3|
|tt0046135|   tt0989125|           4|            5|
|tt0046150|   tt0341798|          \N|           \N|
|tt0046855|   tt0046643|           1|            4|
|tt0046864|   tt0989125|           5|           20|
|tt0047810|   tt0914702|           3|           36|
|tt0047852|   tt0047745|           1|           15|
|tt0047858|   tt0046637|           2|            9|
|tt0047961|   tt0989125|           6|            5|
+---------+------------+------------+-------------+
only showing top 20 rows

In [16]:
df_name_basics = spark.read.csv('data/nameBasics.tsv', sep=r'\t', header=True)
df_name_basics.show()

+---------+-------------------+---------+---------+--------------------+--------------------+
|   nconst|        primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+-------------------+---------+---------+--------------------+--------------------+
|nm0000001|       Fred Astaire|     1899|     1987|soundtrack,actor,...|tt0053137,tt00723...|
|nm0000002|      Lauren Bacall|     1924|     2014|  actress,soundtrack|tt0038355,tt00718...|
|nm0000003|    Brigitte Bardot|     1934|       \N|actress,soundtrac...|tt0057345,tt00564...|
|nm0000004|       John Belushi|     1949|     1982|actor,soundtrack,...|tt0072562,tt00779...|
|nm0000005|     Ingmar Bergman|     1918|     2007|writer,director,a...|tt0060827,tt00509...|
|nm0000006|     Ingrid Bergman|     1915|     1982|actress,soundtrac...|tt0038109,tt00387...|
|nm0000007|    Humphrey Bogart|     1899|     1957|actor,soundtrack,...|tt0042593,tt00373...|
|nm0000008|      Marlon Brando|     1924|     2004|actor,soundtrack,...|tt0047296,tt00708...|
|nm0000009|     Richard Burton|     1925|     1984|actor,soundtrack,...|tt0057877,tt00878...|
|nm0000010|       James Cagney|     1899|     1986|actor,soundtrack,...|tt0042041,tt00355...|
|nm0000011|        Gary Cooper|     1901|     1961|actor,soundtrack,...|tt0035896,tt00447...|
|nm0000012|        Bette Davis|     1908|     1989|actress,soundtrac...|tt0035140,tt00566...|
|nm0000013|          Doris Day|     1922|     2019|soundtrack,actres...|tt0045591,tt00494...|
|nm0000014|Olivia de Havilland|     1916|     2020|  actress,soundtrack|tt0031381,tt00414...|
|nm0000015|         James Dean|     1931|     1955| actor,miscellaneous|tt0039123,tt00492...|
|nm0000016|    Georges Delerue|     1925|     1992|composer,soundtra...|tt0091763,tt00699...|
|nm0000017|   Marlene Dietrich|     1901|     1992|soundtrack,actres...|tt0055031,tt00211...|
|nm0000018|       Kirk Douglas|     1916|     2020|actor,producer,so...|tt0054331,tt00433...|
|nm0000019|   Federico Fellini|     1920|     1993|writer,director,a...|tt0050783,tt00537...|
|nm0000020|        Henry Fonda|     1905|     1982|actor,producer,so...|tt0032551,tt00500...|
+---------+-------------------+---------+---------+--------------------+--------------------+
only showing top 20 rows

In [17]:
df_ratings = spark.read.csv('data/ratings.tsv', sep=r'\t', header=True)
df_ratings.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    1948|
|tt0000002|          5.8|     264|
|tt0000003|          6.5|    1778|
|tt0000004|          5.6|     179|
|tt0000005|          6.2|    2582|
|tt0000006|          5.1|     177|
|tt0000007|          5.4|     810|
|tt0000008|          5.4|    2090|
|tt0000009|          5.3|     204|
|tt0000010|          6.9|    7046|
|tt0000011|          5.3|     361|
|tt0000012|          7.4|   12088|
|tt0000013|          5.7|    1866|
|tt0000014|          7.1|    5436|
|tt0000015|          6.2|    1062|
|tt0000016|          5.9|    1480|
|tt0000017|          4.6|     323|
|tt0000018|          5.3|     586|
|tt0000019|          5.1|      31|
|tt0000020|          4.8|     356|
+---------+-------------+--------+
only showing top 20 rows

In [18]:
df_title = spark.read.csv('data/title.tsv', sep=r'\t', header=True)
df_title.show()

+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|  titleId|ordering|               title|region|language|      types|          attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|tt0000001|       1|          Карменсіта|    UA|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       2|          Carmencita|    DE|      \N|         \N|       literal title|              0|
|tt0000001|       3|Carmencita - span...|    HU|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       4|          Καρμενσίτα|    GR|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       5|          Карменсита|    RU|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       6|          Carmencita|    US|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       7|          Carmencita|    \N|      \N|   original|                  \N|              1|
|tt0000001|       8|      カルメンチータ|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000002|       1|Le clown et ses c...|    \N|      \N|   original|                  \N|              1|
|tt0000002|       2|Le clown et ses c...|    FR|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       3|   A bohóc és kutyái|    HU|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       4|Der Clown und sei...|    DE|      \N|         \N|       literal title|              0|
|tt0000002|       5|Clovnul si cainii...|    RO|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       6|  Клоун и его собаки|    RU|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       7|The Clown and His...|    US|      \N|         \N|literal English t...|              0|
|tt0000002|       8|          道化師と犬|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000003|       1|    Sarmanul Pierrot|    RO|      \N|imdbDisplay|                  \N|              0|
|tt0000003|       2|     Szegény Pierrot|    HU|      \N|imdbDisplay|                  \N|              0|
|tt0000003|       3|        哀れなピエロ|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000003|       4|        Бідний П'єро|    UA|      \N|imdbDisplay|                  \N|              0|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
only showing top 20 rows